$primary: #ff00ff;
$family-primary: "Proxima Nova";

@import '~bulma';

body {
    background: #ffffff;
    color: #000000;
    line-height: 1.6;
}

.title {
    color: #363636;
    font-weight: 600;
    line-height: 1.125;
}

.nav {
    padding: 10px;
}

.nav-item {
    font-size: 1.2rem;
    font-weight: 600;
}

.animated {
    animation-duration: 300ms;
}

/* Text Animation slide right */

.link-slideright {    
    a {
        position: relative;
        z-index: 1;
        text-decoration: none;
        &:hover {
            &:before {
                width: 104%;
            }
        }
        &:before {
            transition: width 400ms; 
            content: '';
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            width: 0%;
            height: 100%;
            background: yellow;
        }
    }
}
