$primary: #245555;
$family-primary: "Proxima Nova";
@import '~font-awesome/css/font-awesome.css';

@font-face {
    font-family: 'FontAwesome';
    src: url('~font-awesome/fonts/fontawesome-webfont.eot');
    src: url('~font-awesome/fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
        url('~font-awesome/fonts/fontawesome-webfont.woff') format('woff'),
        url('~font-awesome/fonts/fontawesome-webfont.ttf') format('truetype'),
        url('~font-awesome/fonts/fontawesome-webfont.svg') format('svg');
    font-weight: bold;
    font-style: normal;
}

@import '~bulma';

body {
    background: #ffffff;
    color: #000000;
    line-height: 1.6;
}

.title {
    color: #363636;
    font-weight: 600;
    line-height: 1.125;
}

.nav {
    padding: 10px;
}

.nav-item {
    font-size: 1.2rem;
    font-weight: 600;
}

.animated {
    animation-duration: 300ms;
}

/* Text Animation slide right */

.link-slideright {    
    a {
        position: relative;
        z-index: 1;
        text-decoration: none;
        &:hover {
            &:before {
                width: 104%;
            }
        }
        &:before {
            transition: width 400ms; 
            content: '';
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            width: 0%;
            height: 100%;
            background: yellow;
        }
    }
}

figure {
    position: relative;
    &:hover {
        .asset-action {
            opacity: 1;
        }
    }
    .asset-action {
        position: absolute;
        background: rgba(0, 0, 0, 0.5);
        width: 35px; 
        height: 35px;
        border-radius: 50%;
        top: 8px;
        left: 8px;
        opacity: 0;
        i {
            height: 100%;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}